
*.xml
*.xml
*.xml
.idea/emotion_classification.iml
.idea/misc.xml
.idea/misc.xml
app/__pycache__/__init__.cpython-37.pyc
app/__pycache__/routes_for_camera.cpython-37.pyc
app/__pycache__/models.cpython-37.pyc
app/backend/__pycache__/cv_capture.cpython-37.pyc
app/backend/__pycache__/__init__.cpython-37.pyc
app/__pycache__/routes_for_video.cpython-37.pyc
