<html>
    <head>
        <meta charset="utf-8">
        <title>摄像头</title>
        <script src="../static/scripts/js/echarts.js" type="text/javascript"></script>
        <script src="../static/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>


    </head>
    <body>
        <div>
            <h1>表情识别工具</h1>
            <a href="{{ url_for('video') }}">视频</a>
            <a href="{{ url_for('index') }}">摄像头</a>
        </div>
        <hr />
        <img src="{{ url_for('video_feed') }}" width="60%" height="40%" alt="请开启摄像头">
        <div id="bar" style="width: 600px;height: 400px"></div>
        {% if is_closed %}
        <button><a href="{{ url_for('open_video') }}">开启摄像头</a></button>
        {% else %}
        <button><a href="{{ url_for('close_video') }}">关闭摄像头</a></button>
        <button><a href="{{ url_for('collect_frames') }}">开始录制</a></button>
        {% if start_collect %}
        <button><a href="{{ url_for('stop_collect') }}">结束录制</a></button>
        {% endif %}
        {% if is_uploaded %}
        <button><a href="{{ url_for('gen_bar') }}">分析表达力</a></button>
        {% endif %}
        {% if not start_collect and not finish_collect %}
        <img src="{{ address }}" width="50%" height="40%" alt="正在识别表情">
        {% endif %}
        {% if finish_collect %}
        <button onclick="getLineData()">绘制折线图</button>
        <img src="{{ url_for('feed_video_clips') }}" width="50%" height="40%" alt="请截取视频片段">
        {% endif %}
        {% if bar_addrs %}
        {% for bar_addr in bar_addrs %}
        <img src="{{ bar_addr }}" width="50%" height="40%" alt="无识别目标">
        {% endfor %}
        {% endif %}
        {% endif %}
        <div id="line" style="width: 600px;height: 400px"></div>


        <script src="../static/scripts/js/index.js" type="text/javascript"></script>
    </body>
</html>