
<html>
<head>
    <title>视频</title>
</head>
<body>

    <div>
        <h1>表情识别工具</h1>
        <a href="{{ url_for('video') }}">视频</a>
        <a href="{{ url_for('index') }}">摄像头</a>
    </div>
    <hr />
    <img src="{{ url_for('video_play') }}" width="60%" height="40%" alt="请选择视频">
    <button><a href="{{ url_for('catch') }}">截取屏幕</a></button>
    {% if is_uploaded %}
    <button><a href="{{ url_for('video_analysis') }}">分析表达力</a></button>
    {% endif %}
    <img src="{{ address }}" width="50%" height="40%" alt="正在识别表情">
    {% if bar_addrs %}
    {% for bar_addr in bar_addrs %}
    <img src="{{ bar_addr }}" width="50%" height="40%" alt="无识别目标">
    {% endfor %}
    {% endif %}

</body>
<script>
function onInputFileChange() {
   var file = document.getElementById('file').files[0];
   console.log(file)
   /*var url = URL.createObjectURL(file);
   var gamePath = "game.html?" + url;
   console.log(url)*/
   document.getElementById("open").setAttribute("href", file);
}
</script>
</html>